/* .add-assignment-container{
    display:flex;
    border: solid black;
} */

.ux{
    background-color:lightcoral;
}
.dev-frontend{
    background-color: lightblue;
}
.dev-backend{
    background-color: violet;
}
